.slider {
    position: relative;
    width: 100%;
    height: 100vh; /* chiều cao full màn hình */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Thiết lập chiều cao cố định cho tất cả các slide */
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* để ảnh chiếm toàn bộ kích thước của slide */
  }

  .slide:nth-child(3) img {
    /* Đặt kích thước cố định cho ảnh thứ ba */
    height: 90%; /* hoặc bất kỳ giá trị nào khác phù hợp */
  }
  