
.Footer {
    text-align: center;
}

.footer_widgets .container .row .col-lg-3 {
    width: 25%; 
    margin-bottom: 30px; 
}

.footer_widgets .container .row .col-lg-3 .widgets_container {
    text-align: left;
}

.footer_widgets .container .row .col-lg-3 .widgets_container .app_img img {
    max-width: 100px; 
}

/* Chỉnh menu */
.footer_menu ul li {
    margin-bottom: 10px; 
}

/* Căn giữa newsletter */
.newsletter_inner .row .col-lg-3, .newsletter_inner .row .col-lg-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chỉnh input */
.subscribe_form input[type="email"], .subscribe_form button {
    width: 100%; 
    margin-top: 10px; 
}

/* Căn giữa phần tử */
.modal_body .container .row .col-lg-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_widgets .container .row .col-lg-3 .widgets_container .app_img img {
    max-width: 350px; 
    width: auto; 
    height: auto; 
}

/* Căn chỉnh các cột văn bản Information */
.footer_widgets .container .row .col-lg-2 .widgets_container ul {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

/*  chỉnh Information */
.footer_widgets .container .row .col-lg-2 .widgets_container ul li {
    margin-bottom: 10px;
}

/* Chỉnh lại vị trí của phần tử đầu tiên */
.footer_widgets .container .row .col-lg-2 .widgets_container ul li:first-child {
    margin-top: 0;
}
/* Căn chỉnh các cột văn bản  */
.footer_widgets .container .row .col-lg-2 .widgets_container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

/* Information, My Account, Customer Service */
.footer_widgets .container .row .col-lg-2 .widgets_container ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

/*  Information, My Account, Customer Service */
.footer_widgets .container .row .col-lg-2 .widgets_container ul li {
    margin-bottom: 10px;
}
/* canh phần 2022 gì đó qua trái */
.copyright_area {
    text-align: left;
}

.footer_top{
    margin-bottom: -50px;
}
